{% load staticfiles %}
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>群聊信息</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript">
        $(function () {
            //隐藏层
            $("#aClose0").click(function (event) {
                $("#racePop0").hide(300);
            });
            //弹出层
            $("#btnShowDiv0").click(function (event) {
                $("#racePop0").show(300);
            });
            //弹出层
            $("#btnShowDiv1").click(function (event) {
                $("#racePop1").show(300);
            });
            //隐藏层
            $("#aClose1").click(function (event) {
                $("#racePop1").hide(300);
            });
            //弹出层
            $("#btnShowDiv2").click(function (event) {
                $("#racePop2").show(300);
            });
            //隐藏层
            $("#aClose2").click(function (event) {
                $("#racePop2").hide(300);
            });
            //弹出层
            $("#btnShowDiv3").click(function (event) {
                $("#racePop3").show(300);
            });
            //隐藏层
            $("#aClose3").click(function (event) {
                $("#racePop3").hide(300);
            });
            //弹出层
            $("#btnShowDiv4").click(function (event) {
                $("#racePop4").show(300);
            });
            //隐藏层
            $("#aClose4").click(function (event) {
                $("#racePop4").hide(300);
            }); //弹出层
            $("#btnShowDiv5").click(function (event) {
                $("#racePop5").show(300);
            });
            //隐藏层
            $("#aClose5").click(function (event) {
                $("#racePop5").hide(300);
            });
        });
        </script>
	</head>
	<body onload="hiden()">
    <script>
        function hiden()
        {
            document.getElementById("aClose0").click();
            document.getElementById("aClose1").click();
            document.getElementById("aClose2").click();
            document.getElementById("aClose3").click();
            document.getElementById("aClose4").click();
            document.getElementById("aClose5").click();
        }
    </script>

{% if messages %}
    {% for message in messages %}
    <script>
        alert('Error: {{message.message}}');
    </script>
    {% endfor %}{% endif %}
		<!-- Header -->
			<header id="header">
				<h1><a href="/Group/">Refresh</a></h1>
				<nav id="nav">
					<ul>
                        <li>
                            <a href="/OfficialAccountShow/" class="">公众号</a>
                        </li>
						<li>
                            <a href="/GroupShow/" class="">群聊</a>
                        </li>
						<li>
                            <a href="/myself/" class="">自我名片展示</a>
                        </li>
						<li>
                            <a href="/index/" class="button special ">返回登录页面</a>
                        </li>
					</ul>
				</nav>
			</header>

			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>当前公众号展示</h2>
						<p>您可以点击公众号文章旁的戳一戳按钮来查看公众号文章信息</p>
                   </header>

					<!-- Form -->
						<section>
                        <div class="container 50%">
                                <form action="addOff" method="post">
                                    {% csrf_token %}
                                    <div class="row uniform">
                                        <div class="6u 12u$(small)">
                                            <input style="text-align: center" name="ID" id="ID" value="ID：{{ID}}" placeholder="ID" type="text">
                                        </div>
                                        <div class="6u$ 12u$(small)">
                                            <input style="text-align: center" name="Name" id="Name" value="名字：{{Name}}" placeholder="Name" type="text">
                                        </div>
                                        <div class="6u 12u$(small)">
                                            <input style="text-align: center" name="MAINBODY" id="MAINBODY" value="主体：{{MAINBODY}}" placeholder="MAINBODY" type="text">
                                        </div>
                                        <div class="6u$ 12u$(small)">
                                            <input style="text-align: center" name="Nums" id="Nums" value="关注人数：{{Nums}}" placeholder="Nums" type="text">
                                        </div>
                                        <div class="12u$">
                                            <textarea name="INFO" id="INFO" placeholder="简介：{{ INFO }}" rows="6"></textarea>
                                        </div>
                                        <div class="12u$">
                                            <div class="align-center">
                                            <ul class="actions">
                                               <li><input value="添加" class="special big" type="submit"></li>
                                               <li><input value="投稿" class="special big" type="submit" formaction = "/Wordadd/"></li>
                                            </ul>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
						</section>

				</div>
			</section>


            <section>
                <h3>文章展示</h3>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Info</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% load set_val %}
                        {% with i=0 %}
                        {% set i = 0 %}
                            {% for info in infos %}
                                <tr>
                                    <td>{{ info.Name }}</td>
                                    <td>{{ info.Info }}</td>
                                </tr>
                                {% set i++ %}
                            {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                    <div class="pagination">
                                <span class="step-links">
                                    {% if contacts.has_previous %}
                                        <a href="?page={{ contacts.previous_page_number }}" class="button small">上一页</a>

                                    {% endif %}

                                    <span class="current">
                                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                                    </span>

                                    {% if contacts.has_next %}
                                        <a href="?page={{ contacts.next_page_number }}" class="button small">下一页</a>
                                    {% endif %}
                                </span>
                                </div>
							</div>
						</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Changed: <a href="https://github.com/TianHongTao">THT</a></li>
								<li>Images: <a href="https://tuchong.com/2850279/">THT</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>